/* yrsa-300 - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/yrsa-v6-latin-300.woff2") format("woff2"),
    url("../fonts/yrsa-v6-latin-300.woff") format("woff");
}

/* yrsa-regular - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/yrsa-v6-latin-regular.woff2") format("woff2"),
    url("../fonts/yrsa-v6-latin-regular.woff") format("woff");
}

/* yrsa-600 - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/yrsa-v6-latin-600.woff2") format("woff2"),
    url("../fonts/yrsa-v6-latin-600.woff") format("woff");
}

/* yrsa-500 - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/yrsa-v6-latin-500.woff2") format("woff2"),
    url("../fonts/yrsa-v6-latin-500.woff") format("woff");
}

/* yrsa-700 - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/yrsa-v6-latin-700.woff2") format("woff2"),
    url("../fonts/yrsa-v6-latin-700.woff") format("woff");
}

:root {
  --texto: #222222;
  --fundo: #ffffff;
  --cinza: #757575;
  --cinza-escuro: #555555;
}

body {
  font-family: "Yrsa", sans-serif;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 36rem;
  color: var(--texto);
  background-color: var(--fundo);
  font-size: 20px;
}

a {
  color: var(--texto);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 1rem 0;
}

p {
  margin: 2rem 0;
}

ol,
ul {
  margin: 2rem 0;
  padding-left: 1.5rem;
}

li > ol,
li > ul {
  margin: 0;
}

code {
  font-size: 0.8em;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  background-color: var(--texto);
  color: var(--fundo);
  border-radius: 3px;
  margin: 0 0.125rem;
}

table {
  border-collapse: collapse;
  margin: 2rem -0.75rem;
}

table th {
  font-weight: 500;
}

table td,
table th {
  padding: 0.25rem 0.75rem;
}

body > header {
  line-height: 1.25;
  margin-top: 4rem;
}

body > header h1,
body > header h2 {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}

body > header h2 {
  color: var(--cinza);
}

body > header img {
  display: inline;
  height: 1ex;
  width: 1ex;
  margin-left: 1ch;
}

main {
  margin: 6rem 0;
}

main > ol {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  font-weight: 500;
}

main > ol.full {
  font-size: 1em;
}

main > ol li {
  margin: 1rem 0;
}

main > ol.full a:hover {
  text-decoration: none;
}

main > ol .title:hover {
  text-decoration: underline;
}

main > ol .information {
  font-weight: 400;
  color: var(--cinza);
}

article {
  line-height: 1.5;
}

article header {
  color: var(--cinza);
  margin: 2rem 0;
}

article figure {
  margin: 2rem 0;
}

article img {
  width: 100%;
  margin: auto;
  border-radius: 3px;
}

article figcaption {
  color: var(--cinza);
  font-size: 0.9em;
  text-align: center;
  margin-top: 0.5em;
}

article blockquote {
  margin: 2rem;
  color: var(--cinza-escuro);
}

article header h1 {
  font-weight: 500;
  margin: 0;
  color: var(--texto);
}

footer {
  margin: 4rem 0;
}

footer a {
  color: var(--cinza);
}

@media (prefers-color-scheme: dark) {
  :root {
    --texto: #ffffff;
    --fundo: #222222;
    --cinza: #8a8a8a;
    --cinza-escuro: #bababa;
  }
}
