<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
    <meta content="dark light" name="color-scheme"/>
    <title>
      {% if page.categories contains "textos" %}
        "{{ page.title }}", pois
      {% elsif page.title %}
        {{ page.title }}
        -
      {% endif %}se parar, é pior
    </title>

    {% if page.categories contains "textos" %}
      <meta name="description" content="{{ page.content | number_of_words }} palavras em {{ page.date | date: "%d/%m/%Y" }}"/>
    {% elsif page.description %}
      <meta name="description" content="{{ page.description | strip_html }}"/>
    {% elsif page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    {% else %}
      <meta content="pessoalmente podendo muito pouco" name="description"/>
    {% endif %}

    <link href="/favicon.ico" rel="icon">
    <link href="/icon.svg" rel="icon" type="image/svg+xml">

    <link as="font" crossorigin="anonymous" href="/assets/fonts/yrsa-v6-latin-500.woff2" rel="preload" type="font/woff2"/>
    <link as="font" crossorigin="anonymous" href="/assets/fonts/yrsa-v6-latin-regular.woff2" rel="preload" type="font/woff2"/>

    <link href="/assets/css/index.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">se parar, é pior &#9640;</a>
      </h1>
      <h2>pessoalmente podendo muito pouco</h2>
    </header>
    <main>{{ content }}</main>
    <footer>
      <a href="https://twitter.com/danielsarsi" rel="noopener noreferrer" target="_blank">@danielsarsi</a>
    </footer>
  </body>
</html>
